@media only screen and (min-width:992px) {
    .col-1 {
        width: 8.33%
    }

    .col-2 {
        width: 16.66%
    }

    .col-3 {
        width: 25%
    }

    .col-4 {
        width: 33.33%
    }

    .col-5 {
        width: 41.66%
    }

    .col-6 {
        width: 50%
    }

    .col-7 {
        width: 58.33%
    }

    .col-8 {
        width: 66.66%
    }

    .col-9 {
        width: 75%
    }

    .col-10 {
        width: 83.33%
    }

    .col-11 {
        width: 91.66%
    }

    .col-12 {
        width: 100%
    }

    .nav-logo {
        text-align: left
    }

    .nav-heading h1 {
        text-align: right
    }

    .nav-menu {
        flex-direction: row;
        justify-content: flex-end
    }

    .nav-menu a {
        padding: 5px 10px;
        margin: 20px 0;
        background: 0 0
    }

    .profile .p1 {
        right: 100px;
        width: 100px;
        transition: 1s
    }

    .profile .p1:hover {
        width: 140px;
        transform: rotate(360deg)
    }

    .profile p {
        margin: 40px auto;
        color: gray;
        width: 40%;
        text-align: center
    }

    .about-me p {
        text-align: left;
        padding: 15px auto
    }

    .professional-experience {
        padding: 1% 5%
    }

    .achievement {
        padding-right: 50px
    }

    .achievement p {
        margin: 5px 0 5px 0
    }

    .contact button {
        width: 150px
    }



    .contact-link {
        position: relative
    }

    .media-buttons {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        top: 200px
    }

    .footer-menu {

        margin-top: 12px;
    }

    .footer-menu a {
        display: inline;
        margin: 10px;
    }






}