* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box
}

.navbar {
    background-color: #40868b;
    text-align: center;
    padding: 1% 7%
}

.navbar::after {
    content: "";
    display: block;
    clear: both
}

.navbar img {
    border: 2px solid #00f;
    border-radius: 50%
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #000
}

h2 {
    font-size: 1.5rem;
    text-align: center
}

.dotted-hr {
    border: 6px dotted green;
    border-bottom: none;
    margin: 20px auto;
    width: 70px
}

a {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none
}

p {
    font-size: 1.2;
    text-align: justify
}

.navbar a {
    background: #0c6168;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 15px 5px;
    padding: 5px 20px;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 10px
}

.navbar a:hover {
    background: #00f
}

.nav-menu {
    display: flex;
    flex-direction: column
}

[class*=col-] {
    float: left;
    padding: 10px
}

[class*=col-] {
    width: 100%
}

.profile {
    padding: 130px 10px;
    text-align: center;
    position: relative
}

.profile h1 {
    margin: 30px auto;
    font-size: 3rem;
    font-family: cursive
}

.profile p {
    margin: 20px auto;
    color: gray;
    width: 80%
}

.profile .img1 {
    position: absolute;
    right: 60px;
    top: 20px;
    transition: 1s;
    border-radius: 50%
}

.profile .img1:hover {
    transform: rotate(360deg)
}

.profile .img2 {
    position: absolute;
    left: 60px;
    bottom: 10px;
    border-radius: 50%
}

.profile::after {
    content: "";
    display: block;
    clear: both
}

.about-me {
    background: teal;
    text-align: center;
    padding: 1% 7%
}

.about-me::after {
    content: "";
    display: block;
    clear: both
}

.about-me img {
    width: 200px;
    height: 200px;
    border-radius: 50%
}

.about-me p {
    padding: 10px 0;
    text-align: center
}

.about-me button {
    padding: 15px;
    background-color: #052d2f;
    color: #fff;
    border: none;
    border-radius: 15px;
    margin-top: 10px
}



/* professional experience starts here  */


.professional-experience {

    padding: 1% 0%;

}

.professional-experience::after {
    content: "";
    display: block;
    clear: both;
}

.card {
    background: blueviolet;
    padding: 10px;
    border-radius: 15px;
    min-height: 700px;
}

.card:hover {
    box-shadow: -12px 14px 20px 0 rgb(0, 0, 0, 0.4);

}


.card .card-desc {
    padding: 30px;
}


.card img {
    border: 3px solid white;
    border-radius: 60%;
}

.card-icon {
    text-align: center;
    padding-top: 30px;
}

.card h2 {
    color: white;
    margin: 10px 0 10px 0;
    background: teal;
    padding: 5px;
}

hr {

    margin: 5px 0 5px 0;
    color: white;
}





.skills-container li {

    list-style-type: none;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 30px 10px;
    position: relative;
}


.skills-container li::before {
    position: absolute;
    content: "";
    background: rgb(167, 138, 143);
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 1000px;
}


.skills-container li::after {
    position: absolute;
    content: "";
    background: teal;
    top: calc(100% + 5px);
    left: 0;
    width: 0;
    height: 10px;
    border-radius: 1000px;

    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}




.skills-container li.html::after {

    animation-name: html;
}

@keyframes html {

    to {
        width: 80%;
        background: red;
    }

}


.skills-container li.css::after {

    animation-name: css;
}

@keyframes css {

    to {
        width: 100%;
        background: #00f;
    }

}


.skills-container li.javascript::after {

    animation-name: javascript;
}

@keyframes javascript {

    to {
        width: 80%;
        background: yellow;
    }

}


.skills-container li.bootstrap::after {

    animation-name: bootstrap;
}

@keyframes bootstrap {

    to {
        width: 70%;
        background: skyblue;
    }

}


.skills-container li.react::after {

    animation-name: react;
}

@keyframes react {

    to {
        width: 90%;
        background: tomato;
    }

}


.skills-container li.cplus::after {

    animation-name: cplus;
}

@keyframes cplus {

    to {
        width: 100%;
        background: darkmagenta;
    }

}


/* professional experience ends here */




















/* achievement contact starts here */

.achievement-contact::after {

    content: "";
    display: block;
    clear: both;
}

.achievement-contact {

    padding: 1% 7%;
    background: teal;
}




.contact {

    text-align: center;

}

.contact input,
textarea {

    width: 100%;
    margin: 10px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    resize: none;
}


.contact button {
    padding: 10px;
    margin: 10px;
    width: 100px;
    background: #052d2f;
    color: white;
    border: none;
    border-radius: 10px;
}



.contact-link{
text-align: center;

}


.media-buttons{



}



.btn{
width: 50px;
font-size: 32px;
padding: 5px;
background: white;
border: none;
cursor: pointer;
border-radius: 25px;
margin: 10px;
background: white;
color: blue;
}


.btn:hover{

    background-color: gray;
}




footer{
background-color: black;
color: white;
text-align: center;
padding: 20px;
}



.footer-menu a{
    display: block;
    margin: 15px 0;
    font-size: 1rem;
}
.footer-menu a:hover{
    color: gray;
}



footer::after{

content: "";
display: block;
clear: both;
}





























/* achievement contact starts here */